*{
    font-family: dancing script;
}

.Titulo{
    font-style: italic;
    font-size: 45px;
    font-family: dancing script;
}
.Imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 197, 232);
    border-radius: 50px;
}
.contenedor{
    display: flex;
}
.AcercaDeMi {
    
    width: 50%;
    padding: 5px;
    text-align:initial;
    margin-right: 5px;
    img{width: 100px;}
    display: flex;
}
.textoAcercademi{
    
    padding-top: 30px;
    font-style: bold;    
}
.edad{
    background-color: rgb(235, 83, 141);
}
.habilidades{
    width:50%;
    padding-top:5px;
    text-align: center;
    margin-left: 5px;
    font-style: bold;
    display: flex;
    img{
        width: 100px;
    }
}
.textoHabilidades{
    padding-top: 30px;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.Informacion{
    text-align: center;
    .items{
        text-align: left;
    }
    margin-right: 5px;
}
.Aportes{
    text-align: center;
   
    .formacion{
        color: black;
    }

 
}

.CompetenciasGenerales{
    text-align: center;

    .items2{
        text-align: left;
        color: black;
    }
    
}
.contenedor3{
    width: 50%;
    margin-left:50px;
    display:flex;
}

.cont2y3{
    display:flex;
    
}
.imag_habilidades{
    display: flex;
   padding: 5px;
   width: 90%;
   border: 2px solid rgb(190, 108, 245);
}
.imag_educacion{
    
    padding: 5px;
    border-radius: 50px;

    background-color: rgb(252, 192, 239);
}
.educ{
    width: 50px;
    margin: auto;  
    display: block;
}
.estudios{
    text-align: center;
    font-size: x-large;
}