.Titulo{
    font-style: italic;
    color: antiquewhite;
    font-size: x-large;
}
.Imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
.contenedor{
    display: flex;
}
.AcercaDeMi {
    background-color: antiquewhite;
    width: 50%;
    padding: 35px;
    text-align: center;
    margin-right: 5px;
    img{width: 50px;}
    display: flex;
}
.habilidades{
    background-color: antiquewhite;
    width:50%;
    padding: 35px;
    text-align: center;
    margin-left: 5px;
}
.contenedor2{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.Informacion{
    background-color: antiquewhite;
    text-align: center;
    .items{
        text-align: left;
    }
    margin-right: 5px;
}
.Aportes{
    text-align: center;
    color: rgb(245, 93, 181);
    .formacion{
        color: black;
    }

 
}

.CompetenciasGenerales{
    text-align: center;
    color: rgb(245, 93, 181);
    .items2{
        text-align: left;
        color: black;
    }
}